body {
  font-family:'Roboto';
  text-decoration-color:#757575;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
/* для іконок */
:root {
    --main-color: #AFB1B8;
    --accent-color: #FFFFFF;
}


.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

/* ЛОГО сайту */
.logo {
    margin-right: 93px;
   
}

.logo-firs-part{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:1,19;
    color: #2196F3;
}

.logo-second-part{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height:1,19;
    color: #000000;
}
    .logo-second-footer {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height:1,19;
        color: #FFFFFF;
}

/* header */

.page-header {
background-color:#FFFFFF;
padding-bottom: 94px;
border: 1px solid #ECECEC;
padding-top: 24px;
padding-bottom: 25px;
}

.page-header .container {
display: flex;
  align-items: center;
}

.header-nav {
    display: flex;
    align-items: center; 
}
.header-list {
    display: flex;
    margin: 0px;
}



.header-list .item:not(:first-child) {
margin-left: 30px;
}

.header-contacts .list  {
    display: flex;
    align-items: center;
    
}

.header-mail-link {
    margin-left: 344px;
}

.link, .address-link {
text-decoration:none ;
}

.list {
    list-style: none;
}
.header-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1,14;
  letter-spacing: 0.02em;
  color: #212121;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)

}

.header-list-link:hover, .header-list-link:focus {
    color: #2196F3;
}

.adress-item:hover, .adress-item:focus {
    color: #2196F3;
}



.header-tel-link:hover .icon-tel, .header-tel-link:focus .icon-tel {
    fill: #2196F3;
}

.header-mail-link:hover .icon-mail,
.header-mail-link:focus .icon-mail {
    fill: #2196F3;
}


.header-tel-link, .header-mail-link {
font-size: 14px;
font-weight: 500;
line-height: 1,14;
letter-spacing: 0.02em;
text-align: left;
color:#757575 ;

transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.header-mail-link {
    margin-right: 30px;
}

.header-tel-link {
    align-items: center;
}

.icon-tel {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    fill: #757575;
}

.icon-mail {
    display: inline-flex;
        align-items: center;
    margin-right: 10px;
    fill: #757575;
}


/* .hero */


.hero {
    max-width: 1600px;
    max-height: 600px;
padding-top: 200px;
padding-bottom: 200px;
margin-left: auto;
margin-right: auto;
background-color: rgba(47, 48, 58, 0.4);

background-image:linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
text-align: center;
}

.hero-title {
    min-width: 696;
    margin: 0px;
}



.hero-title {
font-weight: 900;
font-size: 44px;
line-height: 1,36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: #FFFFFF;
}

/* main */
.main-button {
    width: 216px;
    height: 50px;
    text-align: center;
    border: none;
    border-radius: 4px;
}
.main-button {
font-size: 16px;
font-weight: 700;
line-height: 1,88;
letter-spacing: 0.06em;
margin-top: 30px;
text-align: center;
color: #FFFFFF;
background-color: #2196F3;

transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}



.main-button:hover, .main-button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}    

.filter-button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,63;
    color: #212121;


    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .filter-button:hover, .filter-button:focus {
        background-color: #2196F3;
        color:#FFFFFF;
        cursor: pointer;}

  /* our benefits */
  .our-benefits {
padding-top: 94px;
padding-bottom: 94px;
  }

.benefits-title {
font-weight: 700;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
padding-top: 30px;
}

.benefits-list {
    display: flex;
}
.benefits:not(:first-child) {
margin-left: 30px;
}


.benefits-list-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
color: rgba(117, 117, 117, 1);
padding-top: 10px;
display: inline-block;
width: 270px;
height: 72px;
}

.benefits-list-item:nth-child(2n):nth-child(3n) {
    width: 270px;
    height: 48px;
}

 .benefits-item {
     width: 270px;
     height: 120px;
     margin-right: 30px;
     padding: 25px 100px;
    background-color: rgba(245, 244, 250, 1);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

 }

.benefits-icon  {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
   
}

.benefits-icon {
    fill: var(--main-color);
}


/* ABOUT */

.about {
    padding-bottom: 94px;
}

.about-title {
    margin-bottom: 50px;
}

.about-us:not(:first-child) {
    margin-left: 30px;
    }



.about-list {
    display: flex;
}


/* team */
.our-team {
    background-color: rgba(245, 244, 250, 1);
    padding-bottom: 94px;
}

.team-list .social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
   
}

.team-list .social-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #FFFFFF;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.team-list .social-link:hover,  .team-list .social-link:focus{
    background-color: #2196F3;
}

.team-list .social-link:hover .social-icon, .team-list .social-link:focus .social-icon {
    fill: var(--accent-color);
}


.team-list .social-icons {
    display: flex;
    justify-content: center;
}

.team-list .social-icons {
    margin-top: 16px;
    padding-bottom: 27px;
}

.team-list .social-item:last-child {
    margin-right: 0px;
}

.about-title, .our-team-title, .regular-customers-title  {
width: 700px;
margin-left: auto;
margin-right: auto;
text-align: center;

font-weight: 700;
font-size: 36px;
line-height: 1,17;
color: #212121;
} 
.our-team-title, .regular-customers-title {
    margin-bottom: 50px;
    padding-top: 94px;
}
.container-team {
 padding-bottom: 94px;
 
}

.team-list {
    display: flex;
}

.team-list .social-icon {
    fill:var(--main-color);
}


.team-member{
    font-weight: 500;
    font-size: 16px;
    line-height:1,19;
    color: #212121;
}
.position{
 font-weight: 400;
font-size: 16px;
line-height: 1,19;
color: #757575;
}
.position-frontend, .position-marketing {
background: url(16166.jpg);
border-radius: 0px;
}
.team-member:not(:first-child) {
    margin-left: 30px;
    }

    .team-member, .position {
margin-left: auto;
margin-right: auto;
text-align: center;
    }

    .team-member-name {
padding-top: 30px;
    }
    .card-thumb {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-color: rgba(255, 255, 255, 1);
    }

    .position {
padding-top: 10px;
    }

    /* REGULAR-CUSTOMERS */

    .customers-icons .customers-item {
        width: 170px;
        height: 92px;
        border: 1px solid rgba(175, 177, 184, 1);
        border-radius: 4px;
        margin-right: 30px;
       
    }

    .regular-customers {
        padding-bottom: 94px;
    }

    .customers-icons {
        display: flex;
        justify-content: center;
    }

    .customers-icons .customers-item:last-child {
        margin-right: 0px;
    }


    .customers-icons .customers-item {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); 
    }


    .customers-icons .customers-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #FFFFFF;
}

.customers-icons .regular-customers-icon {
    fill: var(--main-color);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.customers-icons .customers-item:hover .regular-customers-icon, .customers-icons .customers-item:focus .regular-customers-icon {
    fill:#2196F3;
}

.customers-icons .customers-item:hover, .customers-icons .customers-item:focus {
    border-color: #2196F3;
}


.customers-link {
padding: 16px 32px;
}


/* footer */

.footer-logo {
display: inline-block;
margin: auto;
 padding-top: 60px;
padding-bottom: 0px;
}
.page-footer {
    background-color:#2F303A;
}


.page-footer .container {
    display: flex;
    align-items: baseline;
}

.footer-social {
    margin-left: 70px;
}
.footer-social .social-icons {
    margin-top: 20px;
}
.social-icons {
    display: flex;
}

.footer-social .social-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.footer-social .social-link {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.footer-social .social-link:hover, .footer-social .social-link:focus {
    background-color: #2196F3;
}

.footer-social .social-link {
    fill: #FFFFFF;
}

.footer-social .social-link:hover .social-icon, .footer-social .social-link:focus .social-icon {
    fill: var(--accent-color);
}

.footer-social .social-item:last-child {
    margin-right: 0px;
}

.address-link  {
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    padding-top: 20px;
    display: inline-block;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.address-link:hover, :focus {
    color: #2196F3;}

.contacts-list .link {
    font-family: 'Roboto';
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1,14;
letter-spacing: 0.02em;
color: #757575;
padding-top: 20px;

display: inline-block;
}

.contacts-link:hover, :focus {
    color: #2196F3;
    
}   

.contacts-link {
    display: flex;
    align-items: center;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list.list {
padding-inline-start: 0px;
padding-bottom: 57px;
margin: 0px;
}

.footer-social-tittle {
font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.footer-social .social-icons .social-item:nth-child(3) {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* СИНЄ ПІДКРЕСЛЕННЯ ПОТОЧНОЇ СТОРІНКИ */
    
.item.border {
    position: relative;
}


    .header-link.act-stud.link::after {
                content: "";
                position: absolute;
                bottom: -30px;
                left: 0;
                width: 100%;
                height: 4px;
                background: #2196F3;
                border-radius: 2px;
                
    }
            
.header-link.act-port.link::after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 0;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;

}

/* МОДАЛЬНЕ ВІКНО */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);

    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);

}

.modal {
    width: 528px;
    height: 581px;
    position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(1);

background-color: #FFFFFF;


border-radius: 4px solid rgba(0, 0, 0, 0.1);

transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

}



.modal .close-sign {
    position: absolute;
    display: flex;
    justify-content: center;
    cursor: pointer;
    align-items: center;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}



/* Портфоліо */
.our-projects-list {
    padding: 0px;
    margin: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
   
}
.container-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}
.our-projects-list > .item {
    flex-basis: calc(100% / 3 - 30px);
border: 1px solid #eeeeee;
margin-left: 30px;
margin-top: 30px;
}


.container-projects {
    padding-top: 34px;
}
.visually-hidden {
    display: none;}
    
.projects-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: #212121;
}
.projects-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1,86;
    color: #757575;
}
.main-filter-list {
display: flex;
justify-content: center;
margin-left: auto;
margin-right: auto;
}
.main-filter-list .item:not(:first-child) {
margin-left: 8px;
}
.filter-button {
    height: 38px;
    background-color:#F5F4FA ;
    border: none;
    color: rgba(33, 33, 33, 1);
    border-radius: 4px; 

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.filter-button:hover, :focus {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.filter-button1 {
width: 73px; ;
}
.filter-button2 {
width: 125px;
}
.filter-button3 { 
width: 112px;
/* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}

.filter-button4 {
width: 103px;
}
.filter-button5 {
width: 130px;
}

.projects-item {
    margin-top: 4px;
}

.projects-description {
    padding: 20px 24px;
}


.card {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.card:hover, :focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
    0px 4px 4px rgba(0, 0, 0, 0.06), 
    1px 4px 6px rgba(0, 0, 0, 0.16);
  
}

.card .img-wrapper {
    position: relative;
    overflow: hidden;
}

.card img {
    display: block;
}


.projects-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    background-color:rgba(33, 150, 243, 0.9);
    opacity: 1;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* transition: transform 500ms linear; */
}

.our-projects-list .item {
    cursor: pointer;
}

.our-projects-list .item:hover .projects-text {
    transform: translateY(0%);

}